{% extends "layout.html" %}

    {% block content %}
      <h2>Gerenciamento de Ingredientes</h2>
      <p><a href="{{ url_for('web.novo_ingrediente') }}">Cadastrar Novo Ingrediente</a></p>
      <hr>
      <table>
        <thead>
          <tr>
            <th>Nome do Ingrediente</th>
            <th>Estoque Atual</th>
            <th>Unidade</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          {% for item in itens %}
          <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.estoque_atual }}</td>
            <td>{{ item.unidade_medida }}</td>
            <td>
              <a href="{{ url_for('web.editar_ingrediente', pk=item.id) }}">Editar</a>
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="4">Nenhum ingrediente cadastrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}